<!-- Resume Section
  ================================================== -->
  <section id="resume">

     <!-- Education
     ----------------------------------------------- -->
     <div class="row education">

        <div class="three columns header-col">
           <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>University of North Carolina at Charlotte (GPA: 4.0)</h3>
                 <p class="info">Master's in Computer Science <span>&bull;</span> <em class="date">Aug 2016 - Dec 2017</em></p>

                 <p>
                   Learned Algorithms and Data Structures which refined my problem solving approach.<br>
                   Followed Agile methodology for the development of multiple Web Applications.<br>
                   Specialized in the field of Data Science and Management. Gained hands on experience in Hadoop MapReduce, Apache Spark and Machine Learning.<br>
                   The range of projects I have worked on, instilled the confidence to take up bigger challenges and come up with effective solutions.<br>
                   <br>
                   Course Work:<br>
                   First semester:<br>
                   ● Software System and Design Implementation<br>
                   ● Database Systems<br>
                   ● Computer Networks<br>
                   ● Algorithms and Data structures<br>
                   <br>
                   Second semester:<br>
                   ● Cloud Computing<br>
                   ● Knowledge Based Systems<br>
                   ● Visual Analytics<br>
                   ● Network Based Application Development<br>
                   <br>
                   Third Semester:<br>
                   ● Survey of Programming languages<br>
                   ● Business Intelligence and Analytics<br>
                 </p>
                <hr>
              </div>


           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>VNR Vigana Jyothi Institute of Engineering and Technology (GPA: 4.0)</h3>
                 <p class="info">B.Tech in Electronics and Communications <span>&bull;</span> <em class="date">Jun 2011 - May 2015</em></p>

                 <p>
                   ● Received Certificate of Merit in Tech Ladder and System Craft competitions in National Technical Fest.<br>
● Received Certificate of Appreciation as a Team Lead for an event "Paratronics" in National Technical Fest Convergence 2K13.<br>
● Presented paper on “Android Programming” at Vasavi College Of Engineering.<br>
● Secured Merit rank and stood in top 2% in NIIT National Aptitude Test.<br>
● Won Badminton sports event in all India sports fest held at Jawaharlal Nehru Technological University (JNTU).<br>
● Undergone Industrial training in Keerthi Industries at Kodada, Nalgonda district, where I got real time Industrial exposure and learned the use of Programmable logic devices.<br>
● Undergone Industrial training in Astra Microwave Products Limited at Hyderabad where I learned about RF and Microwave subsystems used in Defense, Space, Telecommunications and Weather forecasting.<br>
                 </p>

              </div>

           </div> <!-- item end -->



        </div> <!-- main-col end -->

     </div> <!-- End Education -->

  </section> <!-- Resume Section End-->
