
<header id="home">
   <div class="row banner">
      <div class="banner-text">
         <h1 class="responsive-headline">Yousuf Sadiq Mohammed.</h1>
         <h3>An avid learner and enthusiastic developer, with experience in Web application development, Dashboard Development and JAVA/J2EE applications looking for Full - time opportunities.</h3>
         <hr/>
         <ul class="social">
            <li><a href="https://www.facebook.com/yousufsadiq11"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com/117811699915053314788"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://www.linkedin.com/in/yousuf11/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/yousufsadiq11/"><i class="fa fa-instagram"></i></a></li>
         </ul>
      </div>
   </div>
</header>
