<!-- About Section
================================================== -->
<section id="about">

   <div class="row">

      <div class="three columns">

         <img class="profile-pic"  src="/../../assets/profile.JPG" alt="" />

      </div>

      <div class="nine columns main-col">

         <h2>Summary</h2>

           <p>I am a Computer Science Graduate student at the University of North Carolina, Charlotte with experience in Database design, Web Application Development, Big Data Analytics, and JAVA/J2EE Applications. I am seeking Full - Time opportunity in the field of Software Engineering, Data Visualization, Data Analytics or Data Science.</p>
           <p>Previously worked as a Software Engineer at Tata Consultancy Services from 2015 to 2016 and as a Software Engineer - Intern at Tata Consultancy Services from November 2014 to May 2015.</p>
           <p>Academic experience in Web application development, Data Analysis, and Data Visualization.
           <br>
           Solid understanding of SDLC.
           <br>
           Self Learning: Python.</p>

         <div class="row">

            <div class="columns contact-details">

               <h2>Contact Details</h2>
               <p class="address">
            <span>Yousuf Sadiq Mohammed</span><br>
            <span>209, Barton Creek Drive, Apt #B<br>
                  Charlotte, NC 28262 USA.
                  </span><br>
            <span>(980)250-3067</span><br>
                  <span>yousufsadiq11@gmail.com</span>
          </p>

            </div>

            <div class="columns download">
               <p>
                  <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
               </p>
            </div>

         </div> <!-- end row -->

      </div> <!-- end .main-col -->

   </div>

</section> <!-- About Section End-->
