
   <!-- Portfolio Section
   ================================================== -->

   <section id="portfolio">

      <div class="row">
         <div class="twelve columns collapsed">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h1>Check Out Some of My Certifications</h1>

            <!-- portfolio-wrapper -->

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="https://www.coursera.org/account/accomplishments/certificate/RXZR6TC6Q4CV" title="Angular JS Certification">
                        <img width="300" src="/../../assets/profile.JPG">

                     </a>




                  </div><p id="Certification-Text">Angular JS Certification</p>
          		</div> <!-- item end -->

              <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                 <div class="columns portfolio-item">
                    <div class="item-wrap">

                       <a href="https://www.coursera.org/account/accomplishments/verify/WTBN4LBPY5NP" title="Node JS Certification">
                          <img width="300" src="/../../assets/profile.JPG">
                          <div class="overlay">
                             <div class="portfolio-item-meta">

                         </div>
                          </div>
                          <div class="link-icon"><i class="icon-plus"></i></div>
                       </a>

                    </div><p id="Certification-Text">Node JS Certification</p>
                </div> <!-- item end -->

                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                   <div class="columns portfolio-item">
                      <div class="item-wrap">

                         <a href="https://www.coursera.org/account/accomplishments/certificate/44M85PTG8GXQ" title="HTML, CSS and JavaScript Certification">
                            <img width="300" src="/../../assets/profile.JPG">
                            <div class="overlay">
                               <div class="portfolio-item-meta">

                           </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                         </a>

                      </div><p id="Certification-Text">HTML, CSS and JavaScript Certification</p>
                  </div> <!-- item end -->


            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->
