<!-- Resume Section
  ================================================== -->
  <section id="resume">

     <!-- Education
     ----------------------------------------------- -->
     <div class="row education">

        <div class="three columns header-col">
           <h1><span>Experience</span></h1>
        </div>

        <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>University of North Carolina at Charlotte</h3>
                 <p class="info">Graduate Research Assistant <span>&bull;</span> <em class="date">Jan 2017 - Dec 2017</em></p>

                 <p>
                   ●  Developing algorithm for Traffic Detection System application for optimizing the traffic between the vehicles by analyzing the data obtained through inter – vehicular communication.
                   <br>
                   ●	Analyzed and Extracted Data obtained through inter – vehicular communication and played a key role in the development of algorithm using MapReduce Framework and JAVA which determines the traffic congestion in a specific area.
                 </p>
                <hr>
              </div>


           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Tata Consultancy Services</h3>
                 <p class="info">Software Engineer <span>&bull;</span> <em class="date">Sep 2015 - Jul 2016</em></p>

                 <p>
                   ● Played a key role using Oracle order and service management, Xquery, Xpath, XML and JAVA to recognize the customer orders created from CRM and coordinating the order to fulfill across Provisioning, Inventory, and Billing.<br>
                   ● Took Complete responsibility of the development of "Resumption" Provision Service using Java and Oracle ASAP for a Philipines-based Telecom Network service provider Client and doing so while collaborating with the client and ensuring that the software meets the expectations.<br>
                   ● Developed a Web Dashboard using D3 JS and Spring MVC to monitor status of orders across various modules in the project.<br>
                   ● Also, solved incidents, service requests, problems, and changes related to the module through ITSM tool during the operations phase.<br>
                   ● Worked on Configuration and Installation of Oracle Web Logic Server.<br>
                   <br>
                   Technologies / Frameworks Used : Java, XML, D3 JS, XQuery, Spring MVC<br>
                   Tools Used : Eclipse IDE, Atom, ITSM, Oracle WebLogic Server
                 </p>
                 <hr>
              </div>

           </div> <!-- item end -->

           <div class="row item">

              <div class="twelve columns">

                 <h3>Tata Consultancy Services</h3>
                 <p class="info">Software Engineer Intern<span>&bull;</span> <em class="date">Nov 2014 - May 2015</em></p>

                 <p>
                   ● Developed business logic for order processing and transportation cost based on various inputs provided by the users.<br>
                   ● Created procedures and functions on Oracle 11g database which optimized the back end logic.<br>
                   ● Worked on the development of business logic which provides the shortest route for transportation based on the source and destination provided as input by the user.<br>
                   ● Worked on the Development of UI for the Web portal.<br>
                   ● Communicating with the team members and preparing documents related to the project for knowledge management. <br>
                   <br>
                   Technologies / Frameworks Used: Java, JSP, Servlets, Oracle 11g, bootstrap, HTML, CSS, Angular JS<br>
                 </p>

              </div>

           </div> <!-- item end -->


        </div> <!-- main-col end -->

     </div> <!-- End Education -->

  </section> <!-- Resume Section End-->
