<!-- Resume Section
  ================================================== -->
  <section id="resume">

     <!-- Education
     ----------------------------------------------- -->
     <div class="row education">

        <div class="three columns header-col">
           <h1><span>Core Competencies</span></h1>
        </div>

        <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

              <!--   <h3>University of North Carolina at Charlotte</h3><br> -->

  <p>● Frameworks/Stacks : Angular JS, JSP - Servlets, Hibernate, Spring MVC, Hadoop, J2EE, D3 JS, Android, REST, Soap, Dimple JS, Node JS
    <br><br>
    ●	Tools	:
    Tableau, Eclipse, Github, PyCharm, MySQL Workbench, Soap UI, Microsoft Office, Bash(Shell)
    <br><br>
    ●	Databases :
    MySQL, Oracle 11g, Hive, MongoDB
    <br><br>
    ●	Languages	:
    JAVA, Python, C, HTML, CSS, JavaScript, XML
    <br><br>
    ●	Certifications	:
    Angular JS, Node JS, HTML, CSS and JavaScript (Coursera)

  <p>



              </div>


           </div> <!-- item end -->

        </div> <!-- main-col end -->

     </div> <!-- End Education -->

  </section> <!-- Resume Section End-->
